


/* .navbar{
    background-color: rgb(8, 8, 110) !important;
    height: 120px;
}


.images{
    object-fit: contain;
} */
/* 
@media screen and (max-width: 767px) {
    .image {
      height: 130px;
      width: 150%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .navbar-brand img {
      height: 80px;
      width: auto; 
    }
  }
  
  @media screen and (max-width: 1024px) {
    .col-lg-3,
    .col-md-6,
    .col-sm-12 {
      width: 100%; 
    }
  }
   */